<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
    <table>
      <tr>
        <label>商品名</label>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <label>商品説明</label>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <label>ジャンル</label>
        <td><%= @item.genre_id %></td>
      </tr>
      <tr>
        <label>税込価格<br>(税抜価格)</label>
        <td>
          <%= @item.tax_excluded_price %>
          <%= @item.tax_included_price %>
        </td>
      </tr>
      <tr>
        <label>販売ステータス</label>
        <td><%= @item.sales_status %></td>
      </tr>
    </table>
  </div>
</div>